<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    #a {
        bottom: 20px;
        right: 20px;
    }
</style>
</head>


<body>
    <!-- Legend -->
    <div id="legend">
        <strong>Rainfall (mm)</strong>
        <div id="a">
            <div style="display:flex; align-items:center;">
                <span style="width:18px;height:12px;background:#deebf7;display:inline-block;margin-right:6px;"></span>
                0 – 25 (Very Low)
            </div>
            <div style="display:flex; align-items:center;">
                <span
                    style="width:18px;height:12px;background:#9ecae1;display:inline-block;margin-right:6px;right: 20px;"></span>
                25 – 75 (Low)
            </div>
            <div style="display:flex; align-items:center;">
                <span style="width:18px;height:12px;background:#3182bd;display:inline-block;margin-right:6px;"></span>
                75 – 150 (Moderate)
            </div>
            <div style="display:flex; align-items:center;">
                <span style="width:18px;height:12px;background:#08306b;display:inline-block;margin-right:6px;"></span>
                150 – 250 (High faraim)
            </div>
        </div>
    </div>



</body>

</html>